certifi==2025.10.5
charset-normalizer==3.4.4
docopt==0.6.2
idna==3.11
pipreqs==0.4.13
requests==2.32.5
urllib3==2.5.0
yarg==0.1.10
torch>=2.0.0
torchvision>=0.15.0
facenet-pytorch==2.6.0
SpeechRecognition>=3.8.1
pipwin>=0.5.1
edge-tts==7.2.8
pygame-ce==2.5.8
faster-whisper==1.2.1